[Unit]
Description=funboard soundboard
After=network.target

[Service]
ExecStart=/home/tiqi/funboard/venv/bin/python /home/tiqi/funboard/server/server.py
WorkingDirectory=/home/tiqi/funboard/
Restart=always
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
